pyscreenshot
pynput
psutil
playsound
Pillow
opencv-python
wmi
speechrecognition
pyttsx3
python-dotenv
numpy
wikipedia
requests
beautifulsoup4
geopy
youtube-search-python
googletrans
opencv-contrib-python
webbrowser
bs4
smtplib
